@page "/players"
@inject HttpClient Http
@inject NotificationsManager Notifications
@implements IDisposable

<h1>AC Milan - Player roster</h1>
<h3>(and contract expirations reminder...)</h3>

<a class="btn btn-primary" href="/players/new">New...</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Number</th>
            <th>Name</th>
            <th>Role</th>
            <th>Expires on</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize @ref="_virtualize" Context="player" ItemsProvider="GetPlayers" ItemSize="220">
            <ItemContent>
                <tr data-priority="@player.ExtendNow">
                    <td>
                        <PlayerPhoto Player="player" />
                    </td>
                    <td>@player.Number</td>
                    <td>@player.Name</td>
                    <td>@player.Role</td>
                    <td>@player.ExpiryDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-primary" href="/players/@(player.Id)">Edit</a>&nbsp;&nbsp;
                        <CoolComponentsLibrary.ConfirmButton class="btn btn-danger"
                                                             OnClick="@(async e => await this.DeletePlayerAsync(player.Id))">
                            Delete
                        </CoolComponentsLibrary.ConfirmButton>
                    </td>
                </tr>
            </ItemContent>
            <Placeholder>
                <p><em>Loading....</em></p>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>

@code {
    public Virtualize<Player> _virtualize;

    protected override async Task OnInitializedAsync()
    {
        this.Notifications.PlayerUpdatedAsync += LoadDataAsync;
    }

    private async ValueTask<ItemsProviderResult<Player>> GetPlayers(ItemsProviderRequest request)
    {
        var response = await this.Http.GetFromJsonAsync<PlayersResponse>($"/api/players?start={request.StartIndex}&count={request.Count}");

        return new ItemsProviderResult<Player>(response.Players, response.TotalCount);
    }

    private async Task LoadDataAsync()
    {
        await _virtualize.RefreshDataAsync();

        this.StateHasChanged();
    }

    private async Task DeletePlayerAsync(int id)
    {
        var response = await this.Http.DeleteAsync($"/api/players/{id}");
        response.EnsureSuccessStatusCode();

        await this.LoadDataAsync();
    }

    public void Dispose()
    {
        this.Notifications.PlayerUpdatedAsync -= LoadDataAsync;
    }
}
